{% extends 'base.html' %}
{% load bootstrap4 %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js"></script>
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% block content %}

<style>
table, th, td {
  border:1px solid black;
}
</style>

<!-- 
<table style="width:100%">

  <tr>
    <th>Report</th>
    <th>SLO</th>
    <th>Changed From Prior</th>
    <th>Date</th>
    <th>Goal Text</th>
  </tr>

{% for i in slosInReport %}
<tr>
    <td>{{ i.report }}</td>
    <td>{{ i.slo }}</td>
    <td>{{ i.changedfromprior }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.goaltext }}</td>

</tr>
{% endfor %}
</tbody>
 
</table>
-->

<div class="container-md" style="padding-top: 30px;">


  <h3>Academic Smart Assistant</h3>
  <div class="p-2">
    <h4>Department</h4>
    <select name="department" class="form-control col-9" title="" required id="id_department">
    <option value="" selected>---------</option></select>
    <br>
    <h4>Degree Program</h4>
    <select name="degree-program" class="form-control col-9" title="" required id="id_degree-program">
    <option value="" selected>---------</option></select>
    <br>
    <ul class="list-group">  
      {% buttons %}
      <a type="button" class="btn btn-primary" href="#">View Historical Data</a>
      <br><br>
      <a type="button" class="btn btn-primary" href="#">Feedback Smart Assistant</a>
      {% endbuttons %}
    </ul>
  </div>

</div>
{% endblock %}