{% extends 'base.html' %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% load bootstrap4 %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js"></script>
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% block content %}


<style>
table, th, td {
  border:1px solid black;
}
</style>

<!-- 
<table style="width:100%">

  <tr>
    <th>Report</th>
    <th>SLO</th>
    <th>Changed From Prior</th>
    <th>Date</th>
    <th>Goal Text</th>
  </tr>

{% for i in slosInReport %}
<tr>
    <td>{{ i.report }}</td>
    <td>{{ i.slo }}</td>
    <td>{{ i.changedfromprior }}</td>
    <td>{{ i.date }}</td>
    <td>{{ i.goaltext }}</td>

</tr>
{% endfor %}
</tbody>
 
</table>
-->

<div class="container-md" style="padding-top: 30px;">
  <h3>Academic Smart Assistant</h3>
  <div class="p-2">
    <ul class="list-group">  
      {% buttons %}
      <a type="submit" name="historical_woptions" class="btn btn-primary" href="/historical" value = "View Historical Data">View Historical Data</a>
      <br><br>
      <a type="submit" name="comparisons_woptions" class="btn btn-primary" href="/degree_comparison" value = "View Degree Program Comparisons">View Degree Program Comparisons</a>
      <br><br>
      <a type="submit" name="smart_woptions" class="btn btn-primary" href="/smart_assistant" value = "Feedback Smart Assistant">Feedback Smart Assistant</a>
      {% endbuttons %}
    </ul>
  </div>
</div>

{% endblock %}